:root {
	--c-primary: #0079ee;
	--nav: transparent;
	--nav-color: black;
	color-scheme: light dark;
	font-family: sans-serif;
}

:root,
body {
	height: 100%;
}

body {
	margin: 0;
}

main {
	max-width: 70ch;
	margin: 0 auto 3rem;
	padding: 1rem;
}

h2 {
	margin-top: 3rem;
}

h3:has(code) {
	border-bottom: 1px solid #8888;
	margin-top: 2rem;
	padding-bottom: 0.5rem;
}

code[class*="language-"],
pre:has([class*="language-"]) {
	background: hsl(220, 13%, 18%);
	color: hsl(220, 14%, 71%);
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono",
		monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre:has([class*="language-"]) {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

nav .button {
	--c-primary: #ddd;
	--c-primary-1: #ddd1;
	--c-primary-2: #ddd2;
	--c-primary-3: #ddd3;
}
