:root {
	font-family: sans-serif;
	--c-dark: black;
	--c-light: white;
	--c-neutral: #8888;
	--c-neutral-light: #8882;
	--c-primary: #2962ff;
	--c-on-primary: white;
	--c-secondary: #6200ea;
	--c-on-secondary: white;
	--c-success: #00c853;
	--c-on-success: white;
	--c-error: #d50000;
	--c-on-error: white;
	--c-warning: #ffd600;
	--c-on-warning: black;
}
* {
	box-sizing: border-box;
}
.shape > * {
	background: var(--c-neutral);
	width: 2rem;
}
.surface .c-surface {
	height: 2rem;
	margin-bottom: 1rem;
}
.c-square,
.c-circle {
	align-items: center;
	aspect-ratio: 1;
	display: inline-flex;
	justify-content: center;
	vertical-align: middle;
}
.c-circle {
	border-radius: 50%;
}
.c-rounded {
	border-radius: var(--c-rounded-radius, 0.25rem);
}
.c-pill {
	border-radius: var(--c-pill-radius, 50vh);
}
.c-row {
	display: flex;
	gap: 0.5rem;
}
.c-column {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.c-stack {
	display: inline-grid;
}
.c-stack > * {
	grid-area: 1/-1;
	width: 100%;
}
.c-center {
	align-items: center;
	display: flex;
	justify-content: center;
}
.c-light {
	color: var(--c-dark);
}
.c-dark {
	color: var(--c-light);
}
.c-primary {
	background: var(--c-primary);
	color: var(--c-on-primary);
}
.c-primary.invert {
	background: var(--c-on-primary);
	color: var(--c-primary);
}
.c-secondary {
	background: var(--c-secondary);
	color: var(--c-on-secondary);
}
.c-secondary.invert {
	background: var(--c-on-secondary);
	color: var(--c-secondary);
}
.c-success {
	background: var(--c-success);
	color: var(--c-on-success);
}
.c-success.invert {
	background: var(--c-on-success);
	color: var(--c-success);
}
.c-error {
	background: var(--c-error);
	color: var(--c-on-error);
}
.c-error.invert {
	background: var(--c-on-error);
	color: var(--c-error);
}
.c-warning {
	background: var(--c-warning);
	color: var(--c-on-warning);
}
.c-warning.invert {
	background: var(--c-on-warning);
	color: var(--c-warning);
}
.c-surface {
	background: var(--c-surface, var(--c-neutral-light));
	position: relative;
}
.c-action {
	cursor: pointer;
	position: relative;
}
.c-action:before {
	background: var(--c-action, var(--c-primary));
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.c-action:hover:before {
	opacity: 0.15;
}
.c-action:active:before {
	opacity: 0.3;
}
.c-border {
	border: 1px solid var(--c-neutral);
}
